<div style="min-height: 80vh" class="d-flex justify-content-center align-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form d-flex flex-column w-25">
        <div >
            <input class="form-control" type="text" formControlName="title" placeholder="Title">
        </div>
        <div >
            <input class="form-control" placeholder="Author" type="text" formControlName="author">
        </div>
        <div >
            <input class="form-control" placeholder="Date" type="date" formControlName="publishDate">
        </div>
        <div>
            <textarea class="form-control" placeholder="Summary" name="summary" id="" cols="30" rows="10" formControlName="summary"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>